
  /* https://codepen.io/thith/pen/vEOObL */
  /* The circle */
  .sonar-emitter {
    position: relative;
    margin: 32px auto;
    width: 17px;
    height: 17px;
    border-radius: 9999px;
    background-color: #ff1100;
  }
  
  /* the 'wave', same shape and size as its parent */
  .sonar-wave {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: #ff1100;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
  
  /*
    Animate!
    NOTE: add browser prefixes where needed.
  */
  .sonar-wave {
    animation: sonarWave 1.5s linear infinite;
  }
  
  @keyframes sonarWave {
    from {
      opacity: 0.4;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
  